!!!
%html
  %head
    %title DevContests Admin
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'admin/css/main.css', media: 'all'
    / = stylesheet_link_tag 'admin/css/animations.css', media: 'all'
  %body{:'ng-app' => 'app', :'ng-init' => "authToken='"+form_authenticity_token.to_s+"'"}
    %div{:'ng-controller' => 'AppController'}
      %div.alert.anim-alert{:'ng-class' => 'flash.type'}= "{{ flash.message }}"
      %div{:'ng-view' => ''}
    = javascript_include_tag '/bower_components/angular/angular.min.js'
    = javascript_include_tag '/bower_components/angular-route/angular-route.min.js'
    = javascript_include_tag '/bower_components/angular-animate/angular-animate.min.js'
    = javascript_include_tag '/bower_components/angular-resource/angular-resource.min.js'
    = javascript_include_tag '/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'
    
    = javascript_include_tag 'common/directives/in-place'

    = javascript_include_tag 'app/app'
    = javascript_include_tag 'app/surveys/index'
    = javascript_include_tag 'app/surveys/edit'
    = javascript_include_tag 'app/surveys/section'
    = javascript_include_tag 'app/surveys/question'