!!!
%html
  %head
    %title DevContests
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css"

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .header
        .pull-right
          = link_to 'Follow us', 'https://www.twitter.com/SpringestOps'
        %h3.text-muted Springest Developer Contests

      = yield
